
  
  .homebg {
    padding-top: 1px;
    height: 100%;
    padding-bottom: 10px;
    background-image: url("https://images.unsplash.com/photo-1515606378517-3451a4fa2e12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fGZpbmFuY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* jumbotron */
  
  .homeJumbo {
    background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
    border-radius: 5%;
    width: 360px;
    margin-top: 200px;
    margin-left: 10px;
    color:white;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, .25);
  height: 300px;
  }
  
  